body {
  font: 16px/1.4 Helvetica, Arial, sans-serif;
  background-color: #333;
}

.operation {
  background-color: white;
  margin: 0 auto;
  padding: 10px;
  width: 400px;
}

.operation .board {
	position: relative;
}

.operation .chip {
	position: absolute;
	z-index: 1;
}

.chip.heart {
	left: 14.8rem;
	top: 4.8rem;
}

.chip.breadbasket {
	left: 12rem;
	top: 18.7rem;
}

.chip.butterflies {
	left: 13.44rem;
	top: 11.88rem;
}

.chip.wishbone {
	left: 10.8rem;
	top: 3.3rem;
}



