<p>
  <strong>Description:</strong>
  <span><%= @item.description %></span>
</p>

<p>
  <strong>Status:</strong>
  <span><%= @item.completed ? "Done" : "Doing" %></span>
</p>

<a href="/items/<%= @item.id%>/edit">EDIT</a>
<a href="/items">BACK</a>