h1 {
  margin: auto;
  width: 50%;
  padding: 10%;
  text-align: center;
  font-family: 'Condiment', cursive;

}
.content {
  display: inline;

}
button {
  align-content: center;
}
.result {
  vertical-align: middle;
  padding: 50px;
}
span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.display {
    width: 450px;
    /*border: 25px solid green;*/
    height: 200px;
    padding: 25px;
    margin: 25px;
    display: inline-block;
    background-image: url("http://images.clipartpanda.com/frame-clipart-picture-frame.png");
    background-size: 500px 250px;
    text-align: center;
    vertical-align: middle;
    /*line-height: 75px;*/


}
img {
  width: 450px;
  height: 450px;
}
#poem {

}
